/* For when js-img-to-bg is used, this will cover and center the background image. */
.js-img-to-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
